:root {
    --app-name-text-color: #fff;
    --background-color: #0d1116;
    --primary-text-color: #fff;
    --primary-hover-text-color: #b1b1b1;
    --accent-text-color: #f6682f;
    --secondary-text-color: #a2a7ad;
    --overlay-background-color: #7985958a;
    --language-dot-background-color: #424d5a;
    --dark-mode-background-color: #1c2026;
    --dark-mode-text-color: #f0c73d;
    --scrollbar-background-color: #1d2126;
    --scrollbar-accent-color: #6c6e71;
    --button-background-color: #1c2026;
    --button-text-color: #fff;
    --card-background-color: #0d1116;
    --card-header-text-color: #798595;
    --card-header-background-color: #1c2026;
    --card-border-color: #1f2429;
    --card-content-divider: #1f2429;
    --card-background-focus-color: #181c21;
    --tag-background-color: #1c2026;
    --tag-border-color: #1f2429;
    --tag-text-color: #ffffff;
    --tag-secondary-color: #4d535a;
    --tag-input-background: #fff;
    --card-actions-background-shadow: #1c2026;
    --card-action-button-background: #798595;
    --card-action-button-color: #fff;
    --card-active-action-button-background: #fff;
    --card-active-action-button-color: #798595;
    --tooltip-background-color: #252a31;
    --tooltip-divider-color: #576172;
    --tooltip-text-color: #fff;
    --tooltip-shadow-color: #000000;
    --tooltip-accent-color: #0366d6;
    --placeholder-background-color: #1c2026;
    --rsbs-bg: #0d1116;
    --chip-background: #1c2026;
    --chip-border-color: #1c2026;
    --chip-text: #fff;
    --chip-active-background: #0366d6;
    --chip-active-text: #fff;
    --step-normal-background-color: none;
    --step-normal-border-color: #3d3e40;
    --step-normal-text-color: white;
    --step-active-background-color: white;
    --step-active-border-color: none;
    --step-active-text-color: black;
    --tab-title-color: white;
    --tab-description-color: rgb(212, 212, 212);
    --tab-border-color: #1f2429;
    --tab-neutral-button-background: none;
    --tab-neutral-button-text: #a2a7ad;
    --tab-positive-button-background: #0366d6;
    --tab-positive-button-text: white;
    --settings-input-background-color: #0d1116;
    --settings-input-border-color: #3a4553;
    --settings-input-border-focus-color: #6b7b90;
    --settings-input-placeholder-color: #42474e;
    --settings-input-text-color: #fff;
    --horizontal-tabs-layout-active-color: white;
    --horizontal-tabs-layout-text-color: #798595;
}

body {
    font-family: Nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}